body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: black;    */
    background-color:rgb(7, 7, 7);
    height: 120px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* nav title */
.navbar .title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    color:white;
    

    /* nav list items   */
}
 .navbar ul li {
   display:inline-block;
   justify-content: space-around;
   margin:0 30px;
   font-weight: bold;
   font-size: 20px;
   color:white;
   flex-wrap:wrap ;
}
nav ul li:hover{
    /* color: red; */
    border:2px solid  rgb(216, 16, 16);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(216, 16, 16);
}





@media (max-width:360px){
    .navbar{
        height: 260px;
        width: 100%;
    
    }
    .navbar ul li {
        margin-bottom: 30px;
    
    }
     
}

/* @media (min-width:368px){
    nav{
        height: 130px;
        width: 100%;
    
    }
    nav ul li {
        margin-bottom: 30px;
    }
     
} */