*{
    margin-top: 0;
    padding: 0;
}


.portfolioContainer{
    background-color: rgb(15,15,15);
    margin: 0;
    color: white;
    width: 100%;
    height: 1200px;

}
/* portfolio header  */
.portfolioHeader{
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px red; 
    /* -webkit-text-stroke, this adds a border to the text  */
    padding-top: 30px;

}
.portfolioList{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 40px;
    flex-wrap: wrap;
    color: white;
}
/* targets the first option on the portfolio */
.List1:hover{
    color: transparent;
    -webkit-text-stroke: 1px red; 
    font-weight: bolder;
}
.List4:hover{
    color: transparent;
    -webkit-text-stroke: 1px red; 
    font-weight: bolder;
}
.List2:hover{
    color: transparent;
    -webkit-text-stroke: 1px red; 
    font-weight: bolder;
}
.List3:hover{ 
    color: transparent;
    -webkit-text-stroke: 1px red; 
    font-weight: bolder;
}

/* target the portfoliogrid */
.portfolioGrid{
   display: flex;
   width: 100%;
   justify-content: space-around;
   padding-top: 50px;
   padding: auto;
   flex-wrap: wrap;
   gap: 20px;
   
}
.portfolioImg{
    height:300px;
    width: 460px;
    object-fit: cover;
    /* border: 2px solid rgb(15,15,15); */
   border-radius: 15px;
}

/* screen adjustment */
@media (max-width:980px){
   
    .portfolioContainer{
       
        height:1600px;
     /* padding-top: 30px; */
        
    }
}
@media (min-width:230px) and (max-width:599px){
   
    .portfolioContainer{
       
        height:1700px;
     /* padding-top: 20px; */
        
    }
}

/* this media query affects the image size */
@media (max-width:470px){
    .portfolioImg{
        height:300px;
        width: 330px;
       
    }


}

@media  (max-width:469px){
    .portfolioImg{
        height:300px;
        width: 320px;
       
    }


}